annotated-types==0.7.0
docxtpl==0.20.2
et_xmlfile==2.0.0
grpcio==1.83.0
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
numpy==2.4.1
openpyxl==3.1.5
pandas==2.3.3
pandas-stubs==2.3.3.260113
pika==1.4.4
pillow==12.3.0
protobuf==7.35.1
psycopg2-binary==2.9.12
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.3
pytz==2025.2
PyYAML==6.0.3
redis==8.1.0
six==1.17.0
types-pytz==2026.3.1.20260727
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
